<% content_for(:title, "Edit Post | Slacker News") %>

<%= render('layouts/errors', :object => @link) %>

<%= render('form') %>

<div class="delete-line">
  <%= link_to "Delete this post", link_path(@link), confirm: "Are you sure?", method: "delete" %>
</div>
